body, html {
    background-color: lightblue;
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("./img/background_hi.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
